<p><strong>Title:</strong> <%= event.title %>                                 </p>
<p><strong>Description:</strong> <%= event.description %>                     </p>
<p><strong>Theme:</strong> <%= event.theme %>                                 </p>
<p><strong>Type:</strong> <%= event.type %>                                   </p>
<p><strong>Stage:</strong> <%= event.stage %>                                 </p>
<p><strong>Start:</strong> <%= event.start %>                                 </p>
<p><strong>End:</strong> <%= event.end %>                                     </p>
<p><strong>Cost:</strong> <%= event.cost %>                                   </p>
<p><strong>Min Age:</strong> <%= event.min_age %>                             </p>
<p><strong>Venue:</strong> <%= event.location_id %>                           </p>
<p><strong>Organisation:</strong> <%= event.organisation %>                   </p>
<p><strong>Contact Name:</strong> <%= event.contact_name %>                   </p>
<p><strong>Contact Phone Number :</strong> <%= event.contact_phone_number %>  </p>
<p><strong>Contact Email Address:</strong> <%= event.contact_email_address %> </p>
<p><strong>Published:</strong> <%= event.published %>                         </p>
<p><strong>Picture:</strong> <%= event.picture %>                             </p>
<p><strong>Featured:</strong> <%= event.featured %>                           </p>