<div class="input clearfix">
<%= error_messages_for :event %>
</div>

<%= render :partial => 'events/time_venue_date', :locals => {:event_form => event_form}  %>

<%= render :partial => 'events/event_contact', :locals => {:event_form => event_form}  %>

<fieldset>
  <legend><strong>Admin Info</strong></legend>

    <p class="form_help">These details can only be changed by admins on this site.</p>

    <div class="input clearfix">
    <p><label for="event_cost">Cost</label><%= event_form.text_field :cost , :class =>'text input' %></p>
    </div>

    <div class="input clearfix">
    <p><label for="event_min_age">Min Age</label><%= event_form.text_field :min_age , :class =>'text input' %></p>
    </div>


    <div class="input clearfix">
    <p><label for="event_published">Published</label><%= event_form.check_box :published %></p>
    </div>

    <div class="input clearfix">
    <p><label for="event_picture">Picture</label><%= event_form.text_field :picture , :class =>'text input' %></p>
    </div>

    <div class="input clearfix">
    <p><label for="event_provider">Provider</label><%= event_form.select(:provider, [["None",""]]+Event.list_providers, {:selected => @event.provider}) %></p>
    </div>

    <div class="input clearfix">
    <p><label for="event_featured">Featured</label><%= event_form.check_box :featured %></p>
    </div>

  </fieldset>

<div><%= return_to_hidden_field %></div>
