
<div id="content_header">

  <h2>Duplicate events</h2>

  <h3 class="heading">Possible duplicate events are listed here. If a duplicate is identified, you can edit or remove it. <%= get_duplicates_message(@duplicate_events.size/2) %></h3>

  <%= (flash[:event].nil? ? '' : "<div class='admin_flash'>#{flash[:event]}</div>") %>
  <%= (flash[:duplicates].nil? ? '' : "<div class='admin_flash'>#{flash[:duplicates]}</div>") %>
</div>

<div class="form_wrapper clearfix">

   <% if @duplicate_events.blank? %>
     <div class="unmoderated_event"><h2>We don't think there are any duplicate events</h2></div>
   <% else %>
     <% form_tag do %>
       <% @duplicate_events.each do |duplicate_event| %>

           <div class="venue_pair">
             <div class="duplicate">

               <h3>New Event</h3>
               <%= render :partial => "event_info_block", :locals => {:event => duplicate_event} %>
               <p>
                 <%= submit_tag "Remove new event", :name => "event[#{duplicate_event.id}]", :confirm => "Are you sure?" %> or
                 <%= link_to "Edit new event", edit_admin_event_path(duplicate_event) %> or
                 <%= submit_tag "Not a duplicate", :name => "event[#{duplicate_event.id}]", :confirm => "Are you sure?" %>
               </p>
             </div>
             <div class="duplicate">
               <h3>Original Event</h3>
               <%= render :partial => "event_info_block", :locals => {:event => duplicate_event.possible_duplicate} %>
               <p>
                 <%= submit_tag "Remove original event", :name => "event[#{duplicate_event.id}]", :confirm => "Are you sure?" %>
                or <%= link_to "Edit original event", edit_admin_event_path(duplicate_event.possible_duplicate, :return_to => request.path) %>
                </p>
             </div>
           </div>
       <% end %>
     <% end %>
   <% end %>

</div>
