<div id="content_header">
  <h2>Sign up for email alerts</h2>
</div>

<div class="content_wrapper">
   <div class="content">
     <p>To receive emails for <%= current_filter_core_description %>, simply fill in your email address below.</p>
     <% if flash[:notice].present? -%>
     <p><%= flash[:notice] %></p>
     <% end -%>
     <% form_for(:email_subscription, :url => email_subscriptions_path(:filter => params[:filter], :last_view => @last_view)) do |f| -%>
       <p>
         <%= f.label(:email, "Email address") %><br />
         <%= f.text_field(:email) %>
       </p>
       <p><%= submit_tag("Send") %></p>
     <% end -%>
     <p>Changed your mind? <%= link_to("Go back.", events_by_month_path(:year => 2009, :month => 'October', :filter => params[:filter], :view => @last_view)) %></p>
   </div>
</div>
