  <div class="calendar_view">
    <% calendar_for(@events, :year => 2009, :month => 10, :first_day_of_week => 1) do |t| %>
      <%= t.head('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun') %>
      <% t.day(:day_method => :start) do |day, events| %>
        <p class="day"><%= day.day %></p>
        <% events[0..2].each do |event| %>
            <p class="event <%= event.theme %>"><%= link_to h(event.title), path_for_event(event) %></p>
        <% end %>
        <% if events[3] %>
          <p class="more_link"><%= link_to "More events on this day", path_for_event(events[3]) %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>