<%
	pa = params.dup
	pa.delete(:view)
	pa[:filter] = params[:filter].dup
	pa[:filter].delete(:from)
	pa[:filter].delete(:to)
%>
<% content_for :head do %>
  <% unless params[:id] %>
	<link rel="alternate" type="application/atom+xml" href="<%= url_for(pa.merge(:format => 'atom')).sub(/\?$/,'') %>"/>
  <% end %>
	<link rel="alternate" type="text/calendar" href="<%= url_for(pa.merge(:format => 'ics')).sub(/\?$/,'') %>"/>
<% end %>
<div id="content_header" class="clearfix">

  <% if flash[:notice] %>
    <div class="flash ui-widget">
      <div class="ui-state-highlight ui-corner-all">
        <%= flash[:notice] %>
      </div>
    </div>
  <% end %>

  <div class="current_event_filtering clearfix">
    <div class="span-11">
      <h2 class="find_an_event">Find an Event in <%= params[:month] %></h2>
      <ul>
        <li><%= link_to @previous_month_text, @previous_month_path %></li>
        <li><%= link_to @next_month_text, @next_month_path %></li>
      </ul>
      <h3 class="filter_description"><%= current_filter_description%></h3>

    </div>

    <% unless params[:id] -%>
      <% if params[:filter].present? %>
        <ul class="search_subscription_options">
          <li class="email"><%= link_to("Get email alerts for events like these", new_email_subscription_path(:filter => pa[:filter])) %></li>
          <li class="calendar"><%= link_to "Add these events to iCal.", url_for(pa.merge(:format => 'ics')).sub(/\?$/,'') %></li>
          <li class="google_calendar"><%= link_to "Add these events to Google Calendar.", "http://www.google.com/calendar/render?cid="+CGI::escape(url_for(pa.merge(:format => 'ics', :only_path => false)).sub(/\?$/,'')) %></li>
          <li class="feed"><%= link_to "Add to my feed reader.", url_for(pa.merge(:format => 'atom')).sub(/\?$/,'') %></li>
        </ul>
      <% end -%>
    <% end -%>

  </div>

  <div class="event_filtering clearfix">
    <h3><a href="#" class="toggles awesome medium wide">Find events in your area</a></h3>
    <div class="add_event_link">Organising an event? <%= link_to "Add it to the calendar here", "#new_event" %></div>

    <div class="form_wrapper">
      <% form_tag url_for(:month => params[:month], :year => params[:year], :format => 'html', :controller => 'events'), :method => :get, :id => "events_filter_form" do %>

        <div class="filter filter_theme clearfix input_with_tip">
          <label for="filter_theme">Area of Interest</label>
          <%= select_tag "filter[theme]", options_for_select([['Any', ""]]+Event::Themes, params[:filter][:theme]) %>
          <div class="input_tip">
             <div class="tooltip">There are lots of events going on during <%= params[:month] %>. You can use this to select a subject that interests you, or leave it as it is to display everything.</div>
             <div class="tooltip_arrow"></div>
          </div>
        </div>

        <div class="filter_location clearfix filter input_with_tip">
          <label for="filter_location" class="text">Postcode</label>
          <%= text_field_tag "filter[location]", nil, :class => 'text', :value => params[:filter][:location] %>
          <div class="input_tip">
             <div class="tooltip">Where are you? If you'd like to display events near you, enter your postcode here.</div>
             <div class="tooltip_arrow"></div>
          </div>
        </div>

        <% if params[:view] == 'map' %>
        <div class="date_slider">          <%= hidden_field :filter, "from_day", :value => params[:filter][:from_day] %>
          <%= hidden_field :filter, "to_day",   :value => params[:filter][:to_day] %>
          <div class="slider">
          </div>
          <div class="current_time_span">
            <span class="current_from_day"><%= params[:filter][:from_day] %></span> <%= params[:month] %>
            to
            <span class="current_to_day"><%= params[:filter][:to_day] %></span> <%= params[:month] %>
          </div>
        </div>
        <% end %>

        <div class="submit_options clearfix">
         <%= hidden_field_tag "view", params[:view] %>

          <a href="#events_filter_form" class="cancel_search toggles" id="hides_events_filter_form_wrapper">cancel</a>
          <%= submit_tag("Search For Events", :class => "search_for_events awesome medium") %>
        </div>

      <% end %>
    </div>
  </div>

</div>
