<div id="content_header" class="clearfix">

  <% if flash[:notice] %>
    <div class="ui-widget">
      <div class="ui-state-highlight ui-corner-all">
        <%= flash[:notice] %>          
      </div>
    </div>
  <% end %>

  <div class="current_event_filtering clearfix">
    <div class="span-11">
      <h2 class="find_an_event">Find an Event in October</h2>
      <h3 class="filter_description"><%= current_filter_description%></h3> 

    </div>

    <ul class="search_subscription_options">
      <!-- <li class="email png">Send me these events as email.</li> -->
      <li class="calendar"><% pa=params.dup; pa.delete(:view) %><%= link_to "Add these events to my calendar.", url_for(pa.merge(:format => 'ics')).sub(/\?$/,'') %></li>
      <li class="google_calendar"><%= link_to "Add these events to Google Calendar.", "http://www.google.com/calendar/render?cid="+CGI::escape(url_for(pa.merge(:format => 'ics', :only_path => false)).sub(/\?$/,'')) %></li>
      <li class="rss"><%= link_to "Add to my feed reader.", url_for(pa.merge(:format => 'atom')).sub(/\?$/,'') %></li>
    </ul>
    
  </div>
  
  <div class="event_filtering clearfix">
    <div class="add_event_link">Organising an event in October? <%= link_to "Add it to the calendar here", "#new_event" %></div>
    <h3 class="toggles"><%= image_tag('buttons/bt_find_events_in_your_area.gif') %></h3>
    <div class="form_wrapper">
      <% form_tag current_events_path, :method => :get, :id => "events_filter_form" do %>

        <div class="filter filter_theme clearfix">
          <label for="filter_theme">Theme</label> 
          <%= select_tag "filter[theme]", options_for_select([['Please Choose A Theme', ""]]+Event::Themes, params[:filter][:theme]) %>
          <div class="tooltip">Helpful copy explaining how best to fill each form appears here, as focus moves to each form.</div>
          <div class="tooltip_arrow"></div>
        </div>

        <div class="filter filter_event_type clearfix">
          <label for="filter_event_type">Event Type</label> 
          <%= select_tag "filter[event_type]", options_for_select([["Please choose a class", ''],   "Class"]) %> 
        </div>

        <div class="filter_location clearfix filter">
          <label for="filter_location" class="text">Location</label>  
          <%= text_field_tag "filter[location]", nil, :class => 'text' %>
        </div>

        <% if params[:view] == 'map' %>
        <div class="date_slider">          <%= hidden_field :filter, "from_day", :value => params[:filter][:from_day] %>
          <%= hidden_field :filter, "to_day",   :value => params[:filter][:to_day] %>
          <div class="slider">
          </div>
          <div class="current_time_span">
            <span class="current_from_day"><%= params[:filter][:from_day] %></span> <%= params[:month] %>
            to
            <span class="current_to_day"><%= params[:filter][:to_day] %></span> <%= params[:month] %>
          </div>
        </div>
        <% end %>

        <%= hidden_field_tag "view", params[:view] %>


        <div class="submit_options clearfix">
          <a href="#events_filter_form" class="cancel_search toggles" id="hides_events_filter_form_wrapper">cancel</a>
          <%= image_submit_tag('/images/buttons/bt_search_for_events.gif', :alt => "Search For Events", :class => "search_for_events") %>
        </div>

      <% end %>
    </div>
  </div>
  
</div>
