<div id="event_detail" class="event">
  <h2><%= event.title %></h2>
  
  <h3>When</h3>
  <%= event.start.strftime("%R%p") %>
  <%= event.end.strftime("until %R%p") if event.end %>
  
  <h3>Where</h3>
  <h4><%= event.venue.name %></h4>
  <p>
    <%= event.venue.address_1 %><br />
    <%= event.venue.address_2 %><br />
    <%= event.venue.address_3 %><br />
    <%= event.venue.city %><br />
    <%= event.venue.county %><br />
    <%= event.venue.postcode %>
  </p>
  
  <% if event.cost %>
    <h3>Cost</h3>
    <p><%= event.cost %></p>
  <% end %>
  
  <h3>Type</h3>
  <%= event.event_type %>
  
  <h3>Theme</h3>
  <%= event.theme %>
  
  <h3>Event Details</h3>
  <%= simple_format event.description %>
  
  <h3>Contact Details</h3>
  <p>
    <%= event.contact_name %>
    <%= event.organisation %>
    <%= event.contact_phone_number %>
    <%= event.contact_email_address %>
    <%= event.contact_phone_number %>
  </p>
  
  <p>
    <%= link_to "Add to iCal / Outlook" %>
  </p>
  <p>
    <%= link_to "Add to Google calendar" %>
  </p>
  
  <p>
    <%= link_to "Tweet this event", "http://twitter.com/home?status=Going to #{url_for_event(event)}" %>
  </p>
  <p>
    <%= link_to "Facebook" %>
  </p>
  <p>
    <%= link_to "Delicious" %>
  </p>
  
</div>