<div id="event_details" class="event clearfix vevent">
  <h2><%= link_to event.title, path_for_event(event), :class => "url summary" %></h2>
  
  <div class="clearfix detail_list">
    
    <div class="span-2">
    
      <div class="detail">
      
      <%= image_tag('css/headings/when.png', :alt => 'When') %>
<<<<<<< Updated upstream:app/views/events/_event_details.html.erb
      <abbr class="dtstart" title="<%= event.start.iso8601 %>"><%= event.start.strftime("%R%p") %></abbr>
      <% if event.end %>
        <abbr class="dtend" title="<%= event.start.iso8601 %>"><%= event.end.strftime("until %R%p") %></abbr>
      <% end %>
=======
      <p><%= event.start.strftime("%R%p") %></p>
      <p><%= event.end.strftime("until %R%p") if event.end %></p>
>>>>>>> Stashed changes:app/views/events/_event_details.html.erb

      </div>
  
      <div class="detail">
      
      <%= image_tag('css/headings/where.png', :alt => 'Where') %>
      <% if event.venue %>
        <h4><%= event.venue.name %></h4>
        <p class="location">
          <%= event.venue.address_1 %><br />
          <%= event.venue.address_2 %><br />
          <%= event.venue.address_3 %><br />
          <%= event.venue.city %><br />
          <%= event.venue.county %><br />
          <%= event.venue.postcode %>
        </p>
      <% else %>
        <p>This event has no location</p>
      <% end %>
      </div>

    </div>

    <div class="span-2">
      
      <div class="detail">
      <%= image_tag('css/headings/type.png', :alt => 'Type') %>
        <%= event.event_type %>
      </div>
      <div class="detail">
      <%= image_tag('css/headings/theme.png', :alt => 'Theme') %>
        <%= event.theme %>
      </div>

      <div class="detail">
        <% if event.cost %>
      <%= image_tag('css/headings/cost.png', :alt => 'Cost') %>
          <p><%= event.cost %></p>
        <% end %>
      </div>    

    </div>

    <div class="span-2 last">
    
    <ul class="sm_icons">
      
      <li class="calendar"><%= link_to "Add to Calendar" %></li>
<<<<<<< Updated upstream:app/views/events/_event_details.html.erb
      <li class="twitter"><%= link_to "Tweet this event", "http://twitter.com/home?status=Going to #{event.bitly_url}" %></li>
      <li class="facebook"><%= link_to "Facebook", "http://www.facebook.com/share.php?u=#{url_for_event(event)}" %></li>
=======
      <li class="twitter"><%= link_to "Tweet this event", "http://twitter.com/home?status=Going to #{url_for_event(event)}" %></li>
      <li class="facebook"><%= link_to "Add to Facebook" %></li>
>>>>>>> Stashed changes:app/views/events/_event_details.html.erb

    </ul>
  
    </div>
  
  </div>
  
  <div class="description half_page">

    <%= image_tag('css/headings/event_details.png', :alt => 'Event Details') %>
    <%= simple_format event.description %>

    <%= image_tag('css/headings/contact_details.png', :alt => 'Contact Details') %>
    <p class="vcard">
      <span class="fn n"><%= event.contact_name %></span>
      <span class="org"><%= event.organisation %></span>
      <span class="tel"><%= event.contact_phone_number %></span>
      <a class="email" href="mailto:email"><%= event.contact_email_address %></a>
    </p>

    
  </div>
  
  
</div>
