<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= AppConfig.google_maps_key -%>' type='text/javascript'></script>
<script src="http://gmaps-utility-library.googlecode.com/svn/trunk/markermanager/release/src/markermanager.js"></script>

<div id="events_map" style="height:600px">
  
<noscript>
<p>If you enable JavaScript, we'll show you a pretty map from Google.</p>
</noscript>

</div>

<script type="text/javascript">
/* <![CDATA[ */

var events_map;

function initialize_google_map_events_map() {
  if(GBrowserIsCompatible()) {
    events_map = new GMap2(document.getElementById('events_map'));
    
    if (self['GoogleMapOnLoad']) {
      events_map.load = GEvent.addListener(events_map,'load',GoogleMapOnLoad)
    }

    events_map.addControl(new GSmallZoomControl());
    events_map.addControl(new GMapTypeControl());
    
    events_map.enableDoubleClickZoom();
    events_map.disableContinuousZoom();
    events_map.disableScrollWheelZoom();

    var events_map_latlng_bounds = new GLatLngBounds();
    events_map_latlng_bounds.extend(new GLatLng(<%= @start_lat %>,<%= @start_lng %>));
    events_map.setCenter(events_map_latlng_bounds.getCenter(), <%= @start_zoom %>);
    
    marker_manager = new MarkerManager(events_map);
    
    <% @venues.each do |venue| %>
	   var icon = new GIcon(G_DEFAULT_ICON, '/images/map_learner_icon.png');
      icon.iconSize = new GSize(21, 31)

      var marker_<%= venue.id %> = new GMarker(new GLatLng(<%= venue.lat %>, <%= venue.lng %>), icon);
      
      GEvent.addListener(marker_<%= venue.id %>, "click", function() {
        marker_<%= venue.id %>.openInfoWindowHtml("<h1>Loading...</h1>");
        $.getJSON( window.location.href.replace("/events/","/venues/<%= venue.id %>/events/"), function(data) {
          html = "<ul>"
          $.each(data, function(i, item) { 
            html += '<li><a href="'+item.url+'">'+item.title+"</a></li>";
          });
          html += "</ul>"
          marker_<%= venue.id %>.openInfoWindowHtml(html);
        }) 
     	});
      
      marker_manager.addMarker(marker_<%= venue.id %>, 1);
    <% end %>
    
  }
}
if (typeof window.onload != 'function') {
  window.onload = initialize_google_map_events_map;
} else {
  old_before_google_map_events_map = window.onload;
  window.onload = function() {
    old_before_google_map_events_map();
    initialize_google_map_events_map();
  }
}
/* ]]> */</script>
