<div class="new_event">

  <div class="form_wrapper clearfix">

    <% form_for @new_event, :url => find_venue_for_events_path do |event_form| %>
  
    <p><%= image_tag('headings/hd_add_an_event_to_the_calendar.gif', :alt=> "Add an event to the calendar") %></p>
    
    <%= render :partial => 'time_venue_date', :locals => {:event_form => event_form} %>

    <%= render :partial => 'event_contact', :locals => {:event_form => event_form} %>

   <div class="input clearfix input_with_tip">
     <p><%= check_box_tag :accept_tnc, 'true', params[:accept_tnc], :class => 'input indented', :checked => !params['edit.x'].blank? %>
     <label for="accept_tnc" class="indented">I accept the <%= link_to 'terms and conditions', {:controller => 'pages', :action => 'show', :slug => 'terms_conditions'}, {:popup => true} %></label></p>
     <div class="input_tip">
       <div class="tooltip">The terms and conditions must be accepted.</div>
       <div class="tooltip_arrow"></div>
     </div>
   </div>

   <div>
     <p><%= image_submit_tag('/images/buttons/bt_preview_your_event.png', :alt => "Submit this event", :class => "submit_your_event png") %></p>
   </div>
   <% end %>
  </div>

</div>
