<div class="new_event">
  <div class="form_wrapper clearfix">

    <% form_for @new_event, :url => find_venue_for_events_path do |event_form| %>

    <%= image_tag('headings/hd_add_an_event_to_the_calendar.png') %>

    <div class="input clearfix input_with_tip">
      <label for="event_title">Title</label>
      <%= event_form.text_field :title, :class => 'text input' %>
      <div class="input_tip">
        <div class="tooltip">Helpful copy explaining how best to fill each form appears here, as focus moves to each form.</div>
        <div class="tooltip_arrow"></div>
      </div>
    </div>

    <fieldset class="event_venue_form">
      <div class="input input_with_tip clearfix">
        <label for="cyberevent">This event has no location</label>
        <%= check_box_tag :cyberevent, :class => 'text input' %>
      </div>
      
      <div class="input clearfix input_with_tip">
        <label for="venue_postcode">Postcode</label>
        <%= text_field :venue, :postcode, :class => 'text input' %>
        <div class="input_tip">
          <div class="tooltip">Helpful copy explaining how best to fill each form appears here, as focus moves to each form.</div>
          <div class="tooltip_arrow"></div>
        </div>
      </div>
    </fieldset>

    <div class="input clearfix">
      <label for="event_theme">Category</label>
      <%= event_form.select :theme, options_for_select(Event::Themes) %>
    </div>

    <div class="input clearfix">
      <label for="event_event_type">Event Type</label>
      <%= event_form.select :event_type, options_for_select(Event::Types) %>
    </div>

    <div class="input clearfix">
      <label for="event_description">Description</label>
      <%= event_form.text_area :description, :cols => 38, :rows => 10, :class => 'text' %>
    </div>

    <div class="input clearfix">
      <label for="event_start">From</label>
      <%= event_form.text_field :start, :class => 'text' %>
    </div>

    <div class="input clearfix">
      <label for="event_end">until</label>
      <%= event_form.text_field :end, :class => 'text' %>
    </div>

    <fieldset id="more_info" >
      <legend><strong>More info</strong></legend>

      <div id="further_info">

        <div class="input clearfix">
          <label for="event_organisation">Organisation</label>
          <%= event_form.text_field :organisation, :class => 'text' %>
        </div>

        <div class="input clearfix">
          <label for="event_contact_name">Contact Name</label>
          <%= event_form.text_field :contact_name, :class => 'text' %>
        </div>

        <div class="input clearfix">
          <label for="event_contact_phone_number">Contact Phone Number</label>
          <%= event_form.text_field :contact_phone_number, :class => 'text' %>
        </div>

        <div class="input clearfix">
          <label for="event_contact_email_address">Contact Email Address</label>
          <%= event_form.text_field :contact_email_address, :class => 'text' %>
        </div>

      </div>

    </fieldset>

    <%= image_submit_tag('/images/buttons/bt_submit_your_event.png', :alt => "Submit this event", :class => "submit_your_event") %>
    <% end %>
  </div>

</div>
</div>