<div class="new_event">

  <div class="form_wrapper clearfix">

    <% form_for @new_event, :url => find_venue_for_events_path do |event_form| %>

    <%= image_tag('headings/hd_add_an_event_to_the_calendar.gif') if params[:action] == 'index' %>

    <div class="input clearfix input_with_tip">
      <label for="event_title">Title</label>
      <%= event_form.text_field :title, :class => 'text input' %>
      <div class="input_tip">
        <div class="tooltip">What's your event called?</div>
        <div class="tooltip_arrow"></div>
      </div>
    </div>

    <div class="input clearfix input_with_tip datetime">
      <label for="event_starthour">From</label>
      <select id="event_starthour" name="starthour">
        <% Event::Hours.each do |hour| %>
        <option<%= (params[:starthour] == hour) ? ' selected="selected"' : '' %>><%= hour %></option>
        <% end %>
      </select>
      <select id="event_startminute" name="startminute">
        <% Event::Minutes.each do |minute| %>
        <option<%= (params[:startminute] == minute) ? ' selected="selected"' : '' %>><%= minute %></option>
        <% end %>
      </select>

      on

      <select id="event_startday" name="startday">
        <% Event::Days.each do |day| %>
        <option<%= (params[:startday] == day.to_s) ? ' selected="selected"' : '' %> value="<%= day %>"><%= ActiveSupport::Inflector.ordinalize(day) %></option>
        <% end %>
      </select> October 2009
      <div class="input_tip">
        <div class="tooltip">Please enter the time your event starts &mdash; when should people show up?</div>
        <div class="tooltip_arrow"></div>
      </div>
    </div>

    <div class="input clearfix input_with_tip datetime">
      <label for="event_endhour">until</label>
      <select id="event_endhour" name="endhour">
        <% Event::Hours.each do |hour| %>
	<option<%= (params[:endhour] == hour) ? ' selected="selected"' : '' %>><%= hour %></option>
	<% end %>
      </select>
      <select id="event_endminute" name="endminute">
        <% Event::Minutes.each do |minute| %>
        <option<%= (params[:endminute] == minute) ? ' selected="selected"' : '' %>><%= minute %></option>
	<% end %>
      </select>

      on

      <select id="event_endday" name="endday">
        <% Event::Days.each do |day| %>
        <option<%= (params[:endday] == day.to_s) ? ' selected="selected"' : '' %> value="<%= day %>"><%= ActiveSupport::Inflector.ordinalize(day) %></option>
	<% end %>
      </select> October 2009
      <div class="input_tip">
        <div class="tooltip">Please enter the time your event ends &mdash; when will people probably be done? If your event is happening more than once, add an event for each.</div>
        <div class="tooltip_arrow"></div>
      </div>
    </div>


    <fieldset class="event_venue_form">
      
      <div class="input input_with_tip clearfix">
        <label for="cyberevent">This event has no location</label>
        <%= check_box_tag :cyberevent, 'true', params[:cyberevent], :class => 'text input' %>
      </div>
      
      <div class="input clearfix input_with_tip">
        <label for="venue_postcode">Postcode</label>
        <input type="text" id="venue_postcode" name="venue[postcode]" size="30" class="text input" value="<%= (params[:venue] and params[:venue][:postcode]) ? params[:venue][:postcode] : '' %>"/>
        <div class="input_tip">
          <div class="tooltip">Enter the postcode of your venue's event. If your event is online, check the "no location" box.</div>
          <div class="tooltip_arrow"></div>
        </div>
      </div>
    </fieldset>



    <div class="input clearfix input_with_tip">
      <label for="event_theme">Category</label>
      <select id="event_theme" name="event[theme]">
        <% Event::Themes.each do |theme| %>
        <option<%= (params[:event] and (params[:event][:theme] == theme)) ? ' selected="selected"' : '' %>><%= theme %></option>
	<% end %>
      </select>
      
      <div class="input_tip">
        <div class="tooltip">What's this event about? If none of these options fit, use "other".</div>
        <div class="tooltip_arrow"></div>
      </div>
    </div>

    <div class="input clearfix input_with_tip">
      <label for="event_event_type">Event Type</label>
      <%= event_form.select :event_type, options_for_select(Event::Types) %>
      <div class="input_tip">
        <div class="tooltip">What kind of event is this? If none of these options fit, use "other".</div>
        <div class="tooltip_arrow"></div>
      </div>
    </div>

    <div class="input clearfix input_with_tip">
      <label for="event_description">Description</label>
      <%= event_form.text_area :description, :cols => 38, :rows => 10, :class => 'text' %>
      <div class="input_tip">
        <div class="tooltip">What's this event all about? Let people know what they'll be doing, if there's anything they'll need and why they should go along.</div>
        <div class="tooltip_arrow"></div>
      </div>
    </div>



    <fieldset id="more_info" >
      <legend><strong>Contact Info</strong></legend>

      <div id="further_info">

        <div class="input clearfix input_with_tip">
          <label for="event_organisation">Organisation</label>
          <%= event_form.text_field :organisation, :class => 'text' %>
          <div class="input_tip">
           <div class="tooltip">If this event is being run by an organisation, enter the organisation's name here.</div>
           <div class="tooltip_arrow"></div>
         </div>
        </div>

        <div class="input clearfix input_with_tip">
          <label for="event_contact_name">Contact Name</label>
          <%= event_form.text_field :contact_name, :class => 'text' %>
          <div class="input_tip">
           <div class="tooltip">Please give us the name of someone we can contact about this event, if we need to.</div>
           <div class="tooltip_arrow"></div>
         </div>
        </div>

        <div class="input clearfix input_with_tip">
          <label for="event_contact_phone_number">Contact Phone Number</label>
          <%= event_form.text_field :contact_phone_number, :class => 'text' %>
          <div class="input_tip">
           <div class="tooltip">Please give us the phone number of the person we can talk to about this event, if we need to.</div>
           <div class="tooltip_arrow"></div>
         </div>
        </div>

        <div class="input clearfix input_with_tip">
          <label for="event_contact_email_address">Contact Email Address</label>
          <%= event_form.text_field :contact_email_address, :class => 'text' %>
          <div class="input_tip">
           <div class="tooltip">Please give us the email address of the person we can talk to about this event, if we need to.</div>
           <div class="tooltip_arrow"></div>
         </div>
        </div>

      </div>

    </fieldset>




    <%= image_submit_tag('/images/buttons/bt_preview_your_event.png', :alt => "Submit this event", :class => "submit_your_event png") %>
    <% end %>
  </div>

</div>
