<div class="new_event clearfix">

  <div class="form_wrapper clearfix">

    <% form_for @new_event, :url => find_venue_for_events_path do |event_form| %>

    <h2>Add an event to the calendar</h2>

    <%= render :partial => 'time_venue_date', :locals => {:event_form => event_form} %>

    <%= render :partial => 'event_contact', :locals => {:event_form => event_form} %>

   <div class="input clearfix input_with_tip">
     <p><%= check_box_tag :accept_tnc, 'true', params[:accept_tnc], :class => 'input indented', :checked => !params['edit'].blank? %>
     <label for="accept_tnc" class="indented">I accept the <%= link_to 'terms and conditions', {:controller => 'pages', :action => 'show', :slug => 'terms-conditions'}, {:popup => true} %></label></p>
     <div class="input_tip">
       <div class="tooltip">The terms and conditions must be accepted.</div>
       <div class="tooltip_arrow"></div>
     </div>
   </div>

   <div>
     <p><%= submit_tag("Continue", :class => "continue awesome medium") %></p>
   </div>
   <% end %>
  </div>

</div>
