<div class="events">

  <div id="content_header" class="clearfix">

    <%= image_tag('headings/hd_choose_a_venue_for_this_event.gif', :class => "heading") %>

    <% unless @venues.blank? %>
      <h3 class="heading">We may already have the details of your venue; is it one of these? </h3>
    <% else %>
      <h3 class="heading">We don't currently have any venues listed in this postcode. Please add your venue to the listings.</h3>
    <% end %>

  </div>



<div class="form_wrapper clearfix">
<% unless @venues.blank? %>  
<div class="existing_venues">

  <% @venues.each do |venue| %>
    <% form_for @new_event, :url => preview_events_path(:event => params[:event].merge({:location_id => venue.id})) do %>
      <div class="venue_choice">
      <h4><%= venue.name %></h4>
      <%# debugger %>
      <h5><%= venue.address_1 %></h5>
      <h5><%= venue.address_2 %></h5>
      <%= "<h5> #{venue.address_3} </h5>" unless venue.address_3.blank? %>
      <h5><%= venue.postcode %></h5>
      <%= image_submit_tag('buttons/bt_choose_this_venue.gif', :class => "confirm_venue",  :alt => "Choose this venue" ) %>
      </div>
    <% end %>
  <% end %>

</div>

<% end %>
  <div class="add_a_new_venue">
    
<% form_for @new_event, :url => preview_events_path(:event => params[:event]) do %>

  <div><h4><%= image_tag 'headings/hd_add_a_venue_to_the_listings_smaller.gif', :alt => "Add a venue to the listings" %></h4></div>

  <div class="input clearfix">
    <label for="venue_name">Venue name</label>
    <%= text_field :venue, :name, :class => 'text' %>
  </div>

  <div class="input clearfix">
    <label for="venue_address_1">Address Line 1</label>
    <%= text_field :venue, :address_1, :class => 'text' %>
  </div>

  <div class="input clearfix">
    <label for="venue_address_2">Address Line 2</label>
    <%= text_field :venue, :address_2, :class => 'text' %>
  </div>

  <div class="input clearfix">
    <label for="venue_address_3">Address Line 3</label>
    <%= text_field :venue, :address_3, :class => 'text' %>
  </div>

  <div class="input clearfix">
    <label for="venue_city">City</label>
    <%= text_field :venue, :city, :class => 'text' %>
  </div>

  <div class="input clearfix">
    <label for="venue_county">County</label>
    <%= text_field :venue, :county, :class => 'text' %>
  </div>
  
  <div class="input clearfix">
    <label for="venue_county">Post Code</label>
    <%= text_field :venue, :postcode, :class => 'text', :value => params[:venue][:postcode] %>
  </div>
  
  <%= image_submit_tag("buttons/bt_add_this_venue_for_my_event.gif", :alt => "Add this venue for my event", :class => "add_this_venue") %>
<% end %>

    </div>

</div>
</div>

