<div class="events">
	
<%= render :partial => 'event_search_filter' %>


	<div id="selector">
		<ul>
			<li>Display results as a:</li>
			<li class="map"><%= link_to "Map" %></li>
			<li class="calendar_selected"><%= link_to "Calendar" %></li>
			<li class="list_view"><%= link_to "List" %></li>
		</ul>
	</div>


<%= render :partial => 'calendar_view' %>

</div>