<div class="events">
  <%= render :partial => 'event_search_filter' %>

  <% if params[:filter].blank? %>
    <div id="selector"></div>
    <%= render :partial => 'example_calendar_view' %>
  <% elsif (params[:view] == "calendar" && @events.blank?) || (params[:view] == "map" && @venues.blank?) %>
    <%= render :partial => 'view_selector' %>
    <h3 class="heading no_events">Sorry, we couldn't find any events that matched your search. Please try another area of interest or a different postcode.</h3>
  <% else %>
    <% if params[:view] == "map" %>
      <%= render :partial => 'view_selector' %>
      <%= render :partial => 'map_view' %>
    <% else params[:view] == "calendar" %>
      <%= render :partial => 'view_selector' %>
      <%= render :partial => 'calendar_view' %>
    <% end %>
  <% end %>

  <%= render :partial => "new_event" %>
</div>
