<div class="events">
  <%= render :partial => 'event_search_filter' %>
  
  <%# TODO get this working conditionally, when there's nothing in the filter - t%>
  <% if params[:filter].blank? %>
    <div id="selector"></div>
    <%= render :partial => 'example_calendar_view' %>
  <% elsif @events.blank? %>
    <div id="selector"></div>
    <h3 class="heading no_events">Sorry, we couldn't find any events of that ilk. Maybe try another search?</h3>
  <% else %>
    <% if params[:view] == "map" %>
      <%= render :partial => 'view_selector' %>
      <%= render :partial => 'map_view' %>
    <% else params[:view] == "list" %>
      <%= render :partial => 'view_selector' %>
      <%= render :partial => 'calendar_view' %>
    <% end %>
  <% end %>
  <%= render :partial => "new_event" %>
</div>
