<div class="events">
  <% form_tag nil, :method => :get do %>
    <label for="filter_theme">Related to</label> <%= select_tag "filter[theme]", options_for_select([""]+Event::Themes, params[:filter][:theme]) %>
    <label for="filter_event_type">Type</label> <%= select_tag "filter[event_type]", options_for_select(["", "Class"]) %>
    
    <label for="filter_location">Location</label>  <%= text_field_tag "filter[location]" %>
    <%= submit_tag "Search" %>
  <% end %>
  <div class="calendar_view">
    <% calendar_for(@events, :year => 2009, :month => 10, :first_day_of_week => 1) do |t| %>
      <%= t.head('Mon', 'Tue', 'Wedn', 'Thu', 'Fri', 'Sat', 'Sun') %>
      <% t.day(:day_method => :start) do |day, events| %>
        <p class="day"><%= day.day %></p>
        <% events.each do |event| %>
            <p class="event"><%= link_to h(event.title), path_for_event(event) %></p>
        <% end %>
        <% if total = @event_counts[Date.parse("#{day} #{@month} #{@year}").to_s] %>
          <p class="more_link"><%= link_to "#{total} events today" if total > 3 %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>