
  <div class="events">
     <%= render :partial => 'event_search_filter' %>
   
     <%= render :partial => 'view_selector' %>
   
     <% if params[:view] == "map" %>
       <%= render :partial => 'map_view' %>
     <% else params[:view] == "list" %>
       <%= render :partial => 'calendar_view' %>
     <% end %>
  </div>

  <%= render :partial => "new_event" %>
