<div class="events clearfix">
  <h2><%= image_tag('headings/hd_event_details.gif', :alt => "Event details",:class => "heading") %></h2>
  
  <% if params %>
    <h3 class="heading">Listings for <strong><%= "#{params[:month]} #{params[:day].to_i.ordinalize}, #{params[:year]}" %></strong>. <%= link_to "&laquo; Back to search results", current_events_path(:view => params[:last_view], :filter => params[:filter]), :class => "listing" %></h3> 
  <% end %>

  <div class="listing clearfix">
    <%= render :partial => "events_list", :locals => {:event => @event, :this_event_start => @event.start, :filter => params[:filter]} %>
    <%= render :partial => "event_details", :locals => {:event => @event} %>
  </div>
</div>
