  <div class="row clearfix" id="intro">
      <div class="featured_block">

        <h2>Call to action/heading</h2>

        <p class="standfirst">Standfirst.</p>
        <p class="subheading">Subheading</p>

      <%= link_to 'Find something to do', current_events_path, :id => 'view_event_calendar', :class => 'awesome large' %>

      </div>

      <div class="featured_events">
        <ul>
          <li class="featured_event">
            <a href="<%= current_events_path %>"><%= image_tag 'front_page_calendar.jpg', :alt => "Sample Event Calendar" %></a>

            <h3 class="trans"><a href="<%= current_events_path %>">Find something to do in <%= Time.zone.now.strftime('%B') %> &raquo;</a></h3>
          </li>
        <% Event.featured.find(:all, :conditions => 'length(picture) > 0').each_with_index do |event, count| %>
          <li class="featured_event" id="featured_event_<%= count+1 %>">
            <a href="<%= path_for_event(event) %>"><%= image_tag event.picture if event.picture %></a>
            <div class="calendar_date">
              <div class="month">
                <%= Date::MONTHNAMES[event.start.month][0..2] %>
              </div>
              <div class="day">
                <%= event.start.day.ordinalize %>
              </div>
            </div>
            <h3 class="trans"><%= link_to "#{event.title} &raquo;", path_for_event(event) %></h3>
          </li>
        <% end %>
        </ul>

        <div class="featured_event_nav">
        </div>

      </div>


  </div>



  <div class="row first_row clearfix">

    <div class="content_block">
      <div class="featured content_block_content secondary_block">
        <h2>Featured events</h2>
        <ul>
        <% Event.featured.find(:all, :limit => 3).each do |event| %>
          <li class="clearfix">
            <div class="calendar_date">
              <div class="month">
                <%= Date::MONTHNAMES[event.start.month][0..2] %>
              </div>
              <div class="day">
                <%= event.start.day.ordinalize %>
              </div>
            </div>
            <div class="calendar_date_description">
              <h4><%= link_to truncate(event.title, :length => 30), path_for_event(event) %></h4>
              <p class="time_place"><%= event.venue.name %> - <%= event.venue.city %>, <%= event.start.strftime("%l:%M%p") %> onwards</p>
              <%= simple_format truncate(event.description, :length => 50) unless event.description.empty? %>
            </div>
          </li>
        <% end %>
          <li class="see_more"><span class="trigger"><%= link_to "See more events &raquo;", current_events_path %></span></li>
        </ul>
      </div>
    </div>
    <div class="content_block">
      <div class="content_block_content secondary_block share_space_and_groups">
        <h2>Add to the calendar</h2>
        <p class="caption">Running an event? Add details of it here.</p>
        <%= link_to 'Add your event', current_events_path+"#new_event", :class => 'awesome large' %>
        <h2>Other call to action</h2>
        <p class="caption">Something something something.</p>
        <%= link_to 'Lorum ipsum', 'http://lipsum.lipsum.com/', :class => 'awesome large' %>
      </div>
    </div>
    <div class="content_block last">
      <div class="content_block_content secondary_block">

        <h2>Newsletter sign-up form</h2>

        <form action="http://example.org/" method="post" id="email_signup">
          <div class="info">
            <span class="label"><label  for="name">Name:</label></span>
            <span><input type="text" tabindex="0" name="name" id="name" size="25" /></span>
          </div>
          <div class="info">
            <span class="label"><label for="email">Email Address:</label></span>
            <span><input type="text" tabindex="1" name="email" id="email" size="25" /></span>
          </div>
          <div>
            <span class="button"><input type="submit" class="awesome small" tabindex="2" value="Sign up" /></span>
          </div>
        </form>

        <ul class="sm_icons">
          <li class="twitter"><%= link_to "@dextrousweb", "http://twitter.com/dextrousweb" %></li>
          <li class="rss"><%= link_to "News Food", "http://example.org/food.atom" %></li>
        </ul>
      </div>
    </div>


  </div>



  <div class="secondary_content clearfix">

    <div class="photos_and_videos clearfix">

        <div class="photos">
          <h2>Photos from our events</h2>
          <%= link_to "Photos from our flickr account", "http://www.flickr.com/photos/sample", :class => "flickr_photos" %>
        </div>
        <div class="videos">
          <h2>Videos from our events</h2>
          <%= link_to "Videos from our YouTube account", "http://www.youtube.com/user/communitychannel", :class => "youtube_videos" %>
        </div>

    </div>

  </div>
