  <div class="row clearfix" id="intro">
      <div class="featured_block">
        
        <p><img src="/images/headings/hd_be_a_part_of_the_festival_of_learning.gif" alt="Be a part of the Festival" class = 'be_a_part_of_the_festival'/></p>
      
        <!--<p><img id="calendar_thumbnail" class="calendar_thumbnail"  src="/images/calendar_front_page_thumbnail.jpg" alt="(calendar thumbnail)" /></p>-->

        <p class="standfirst">Throughout October, find hundreds of open events and try something new.</p>
        <p class="subheading">Learning for pleasure is about discovering new things, building your skills and knowledge, and getting the most out of your free time.</p> 

      <%= link_to image_tag('buttons/bt_find_something_new.gif', 
                            :alt => "View Event Calendar"), 
                            current_events_path, :id => 'view_event_calendar' %>

      </div>

      <div class="featured_events">
        <ul>
          
        <% Event.featured.find(:all, :conditions => 'length(picture) > 0').each_with_index do |event, count| %>
          <li class="featured_event" id="featured_event_<%= count+1 %>">
            <%= image_tag event.picture if event.picture %>
            <div class="calendar_date">
              <div class="month">
                <%= Date::MONTHNAMES[event.start.month][0..2] %>
              </div>
              <div class="day">
                <%= event.start.day.ordinalize %>
              </div>
            </div>
            <h3 class="trans"><%= link_to "#{event.title} &raquo;", path_for_event(event) %></h3>
          </li>
        <% end %>
        </ul>

        <div class="featured_event_nav">
        </div>

      </div>


  </div>



  <div class="row first_row clearfix">

    <div class="content_block">
      <div class="featured content_block_content secondary_block">
        <p><img src="/images/headings/hd_featured_events.gif" alt="Featured Events" class="png" /></p>
        <ul>
        <% Event.featured.find(:all, :limit => 3).each do |event| %>
          <li class="clearfix">
            <div class="calendar_date">
              <div class="month">
                <%= Date::MONTHNAMES[event.start.month][0..2] %>
              </div>
              <div class="day">
                <%= event.start.day.ordinalize %>
              </div>
            </div>
            <div class="calendar_date_description">
              <h4><%= link_to truncate(event.title, :length => 30), path_for_event(event) %></h4>
              <p class="time_place"><%= event.venue.name %> - <%= event.venue.city %>, <%= event.start.strftime("%l:%M%p") %> onwards</p>
              <%= simple_format truncate(event.description, :length => 50) unless event.description.empty? %>
            </div>
          </li>
        <% end %>
          <li class="see_more"><span class="trigger"><%= link_to "See more events &raquo;", current_events_path %></span></li>
        </ul>
      </div>
    </div>
    <div class="content_block">
      <div class="content_block_content secondary_block share_space_and_groups">
        <p><img src="/images/headings/hd_add_to_the_calendar.gif" alt="Share your Space for Events" class="png" /></p>
        <p class="caption">Running a learning event? Add details of it here.</p>

        <%= link_to image_tag('buttons/bt_add_your_event.gif', :alt => 'Add your Event', :class => 'button png'), current_events_path+"#new_event" %>
        <p><img src="/images/headings/hd_organise_your_group.gif" alt="Organise Your Group" class="organise_group" /></p>
        <p class="caption">Meet other organisers and get help organising your group.</p>
          <%= link_to image_tag('buttons/bt_join_our_network.gif', :alt => 'Join our Network', :class => 'button png'), 'http://thelearningrevolution.ning.com' %>
      </div>
    </div>
    <div class="content_block last">
      <div class="content_block_content secondary_block">
          
        <%= image_tag('headings/hd_follow_the_festival.gif', :alt => 'Follow the Festival', :class => 'png') %>

        <!-- bis newsletter -->
        <form action="http://bis.createsend.com/t/r/s/tyjrdi/" method="post" id="bis_email_signup">
          <div class="info">
            <span class="label"><label  for="name">Name:</label></span> 
            <span><input type="text" tabindex="0" name="cm-name" id="name" size="25" /></span>
          </div>
          <div class="info">
            <span class="label"><label for="tyjrdi-tyjrdi">Email Address:</label></span>
            <span><input type="text" tabindex="1" name="cm-tyjrdi-tyjrdi" id="tyjrdi-tyjrdi" size="25" /></span>
          </div>
          <div>
            <span class="button"><input type="image" tabindex="2" src="/images/buttons/bt_sign_up.gif" class="png" value="Subscribe" alt="Subscribe" /></span>
          </div>
        </form>

        <ul class="sm_icons">
          <li class="twitter"><%= link_to "@learnrevolution", "http://twitter.com/learnrevolution" %></li>
         <!-- Commented out pending link from BIS -->
         <!-- <li class="facebook"><%= link_to "Become a fan" %></li> -->
          <li class="rss"><%= link_to "News Feed", "http://thelearningrevolution.ning.com/profiles/blog/feed?xn_auth=no" %></li>
        </ul>
      </div>
    </div>


  </div>



  <div class="secondary_content clearfix">

    <div class="photos_and_videos clearfix">

        <div class="photos">
          <%= image_tag('headings/hd_photos_from_our_events.gif', :alt => "Photos from our events", :class => 'heading') %>
          <%= link_to "Photos from our flickr account", "http://www.flickr.com/photos/learningrevolution", :class => "flickr_photos" %>
        </div>
        <div class="videos">
          <%= image_tag('headings/hd_video_from_our_events.gif', :alt => "Video from our events", :class => 'heading') %>
          <%= link_to "Videos from our YouTube account", "http://www.youtube.com/user/learnrevolution", :class => "youtube_videos" %>
        </div>

    </div>

  </div>
