<div class="news">
  
  <div id="content_header">
    
   <%= image_tag('headings/hd_news.gif', :class => "heading", :alt => "News") %>
    
    <h3 class="subheading">Latest Updates from the Festival of Learning Network</h3>
    
  </div>
  
  
  <div class="content_wrapper">

<%# debugger %>
    
    <div class="content">
      <% @ningfeed.each do |ningpost| %>
        
        <div class="post">
          <h3><%= (ningpost/'title').inner_html %></h3>
          <p class="date">Posted at <%= DateTime.parse((ningpost/'updated').inner_html.to_s).strftime("at %I:%M%p, %e %B, %Y") %>, by <%= (ningpost/'author') %></p>
          <p><%= (ningpost/'content').inner_text  %></p>
        </div>
      
      <% end %>
      
    </div>
    
    <div class='content sidebar'>
      
      <div class="block featured_youtube">
        
        <h3 class="tk-gunplay">Festival of Learning on Youtube</h3>

        <object width="340" height="243">
          <param name="movie" value="http://www.youtube.com/v/ohbOn7dMpjY&hl=en&fs=1&"></param>
          <param name="allowFullScreen" value="true"></param>
          <param name="allowscriptaccess" value="always"></param>
        </object>
      </div>      

      <div class="block flickr_feed">
        
        <h3>See our latest photos</h3>        
          <p class="flickr_photos">See the latest photos from our flickr stream here.</p>        
      </div>

      <div class="block twitter_feed">
        
        <h3>Follow us on Twitter</h3>        
        
        <p>You can follow us on twitter here (link to twitter)</p>

      </div>

        
    </div>
  </div>
  
</div>