<ul>
  <li class="item clearfix odd">
    <div class="label">Name</div> <div class="value"><%= venue.name %></div>
  </li>
  <li class="item clearfix even">
    <div class="label">Address 1</div> <div class="value"><%= venue.address_1 %></div>
  </li>
  <li class="item clearfix odd">
    <div class="label">Address 2</div> <div class="value"><%= venue.address_2 %></div>
  </li>
  <li class="item clearfix even">
    <div class="label">Address 3</div> <div class="value"><%= venue.address_3 %></div>
  </li>
  <li class="item clearfix odd">
    <div class="label">City</div> <div class="value"><%= venue.city %></div>
  </li>
  <li class="item clearfix even">
    <div class="label">County</div> <div class="value"><%= venue.county %></div>
  </li>
  <li class="item clearfix odd">
    <div class="label">Postcode</div> <div class="value"><%= venue.postcode %></div>
  </li>
</ul>