<p><strong>Name:</strong> <%= venue.name %>          </p>
<p><strong>Address 1:</strong> <%= venue.address_1 %></p>
<p><strong>Address 2:</strong> <%= venue.address_2 %></p>
<p><strong>Address 3:</strong> <%= venue.address_3 %></p>
<p><strong>City:</strong> <%= venue.city %>          </p>
<p><strong>County:</strong> <%= venue.county %>      </p>
<p><strong>Postcode:</strong> <%= venue.postcode %>  </p>