
<div id="content_header">
  
  <%= image_tag('headings/admin/hd_venues_admin.gif', :class => 'heading') %>

  <h3 class="heading">Possible duplicate events are listed here.If a duplicate is identified, you can edit or remove it.</h3>

  <%= (flash[:venue].nil? ? '' : "<div class='admin_flash'>#{flash[:venue]}</div>") %>
  <%= (flash[:duplicates].nil? ? '' : "<div class='admin_flash'>#{flash[:duplicates]}</div>") %>
</div>

<div class="form_wrapper clearfix">
   
   <% if @duplicate_venues.blank? %>
       <div class="unmoderated_event"><h2>We don't think there are any duplicate venues</h2></div>
   <% else %>
     <% form_tag do %>
       <% @duplicate_venues.each do |duplicate_venue| %>
         <div class="venue_pair">
          <div class="duplicate">
             <h3>New Venue</h3>
             <%= render :partial => "venue_info_block", :locals => {:venue => duplicate_venue} %>
             <p>
               <%= submit_tag "Remove new venue", :name => "venue[#{duplicate_venue.id}]", :confirm => "Are you sure?" %> or
               <%= link_to "Edit new venue", edit_admin_venue_path(duplicate_venue) %>
             </p>
           </div>
           <div class="duplicate">
             <h3>Original Venue</h3>
             <%= render :partial => "venue_info_block", :locals => {:venue => duplicate_venue.possible_duplicate} %>
             <p>
               <%= submit_tag "Remove original venue", :name => "venue[#{duplicate_venue.id}]", :confirm => "Are you sure?" %>
              or <%= link_to "Edit original venue", edit_admin_venue_path(duplicate_venue.possible_duplicate) %>
              </p>
           </div>
         </div>
       <% end %>
     <% end %>
  <% end %>
</div>
