<div id="content_header">
  
<div class="form_wrapper clearfix">

  <div class="content_header clearfix">
    <%= image_tag('headings/admin/hd_venues_admin.gif', :class => 'header') %>

  </div>

  <%= flash[:venue] %>


<% form_tag current_events_path, :method => :get, :id => "events_filter_form" do %>

  <div class="filter_location clearfix filter">
    <label for="filter_location" class="text">Title</label>  
    <%= text_field_tag "filter[title]", nil, :class => 'text' %>
  </div>

  <div class="filter_location clearfix filter">
    <label for="filter_location" class="text">Location</label>  
    <%= text_field_tag "filter[location]", nil, :class => 'text' %>
  </div>

  <div class="submit_options clearfix">
    <%= submit_tag('Search for Venues ', :alt => "Search For Venues") %>
  </div>

  <div><%= hidden_field_tag "view", params[:view] %></div>



  <% end %>


  <div class="secondary_options">
    <ul>
      <li><%= link_to "New Venue", new_admin_venue_path %></li>
      <li><%= link_to "Find duplicates", duplicates_admin_venues_path %></li>
    </ul>
  </div>



</div>

<div class="content_wrapper">

 <% unless @venues.blank? %>
  <div id="results">
  
    <h3>Results From your Search</h3>
  
  
    <ul class="results clearfix">
      <% @venues.each do |venue| %>
        <li>
        <p><%= link_to venue.name, edit_admin_venue_path(venue) %></p>
        </li>
      <% end %>
    </ul>
    <% end %>
  <%= will_paginate @venues %>
  </div>

  </div>

</div>

