<div id="content_header">
     <%= image_tag('headings/admin/hd_venues_admin.gif', :class => 'heading') %>
    <h3>Add and edit venues, and merge duplicates</h3>

  <%= (flash[:venue].nil? ? '' : "<div class='admin_flash'>#{flash[:venue]}</div>") %>
  
  <div class="form_wrapper clearfix">

<% form_tag admin_venues_path, :method => :get, :id => "events_filter_form" do %>

  <div class="filter_q clearfix filter">
    <label for="filter_q" class="text">Venue</label>  
    <%= text_field_tag "filter[q]", nil, :class => 'text', :value => params.andand[:filter].andand[:q] %>
  </div>

  <div class="submit_options clearfix">
    <%= submit_tag('Search for Venues ', :alt => "Search For Venues") %>
  </div>

  <div><%= hidden_field_tag "view", params[:view] %></div>

  <% end %>


  <div class="secondary_options">
    <ul>
      <li><%= link_to "New Venue", new_admin_venue_path %></li>
      <li><%= link_to "Find duplicates", duplicates_admin_venues_path %></li>
    </ul>
  </div>
  </div>




<div class="content_wrapper">

 <% unless @venues.blank? %>
  <div id="results">
  
    <h3>Results From your Search</h3>
  
  
    <ul class="results clearfix">
      <% @venues.each do |venue| %>
        <li>
        <p><%= link_to venue.name, edit_admin_venue_path(venue) %><br /><%= venue.postcode %></p>
        </li>
      <% end %>
    </ul>
    <% end %>
  <%= will_paginate @venues %>
  </div>

  </div>

</div>

