<div id="content_header" class="clearfix">
   <h2>Festival of Learning Admin Area</h2>

   <h3 class="heading">Festival of Learning Admin Area</h3>

   <%= (flash[:notice].nil? ? '' : "<div class='admin_flash'>#{flash[:notice]}</div>") %>
</div>

<div class="content_wrapper clearfix">
  <div class="content clearfix">
    <div class="span-11">

      <h3><%= link_to "Moderate Events &raquo;", "/admin/events/moderations" %></h3>
      <h3><%= link_to "Administer Events &raquo;", admin_events_path %></h3>
      <h3><%= link_to "Administer Venues &raquo;", admin_venues_path %></h3>
      <h3><%= link_to "Administer Pages &raquo;", admin_pages_path %></h3>
    </div>
  </div>
</div>

