<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Learning Revolution Admin</title>

	<link rel="stylesheet" href="/stylesheets/jquery/jquery-ui-1.7.2.custom.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" media="screen" charset="utf-8" />
  <!-- %link{:rel => "stylesheet", :href => "/stylesheets/blueprint/print.css",  :type => "text/css", :media => "print"} -->
  <!--[if IE]>
  <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  
</head>

<body class="admin">

  <div class="header">
    
    <h1><img src="/images/admin_fol_logo.png
      " alt="Learning Revolution Logo" /></h1>
    
  </div>
  
  <div class="nav_banner">
    <ul class="nav">
      <li class="home"><%= link_to "Home", admin_root_path %></li>
      <li class="venues"><%= link_to "Venues", admin_venues_path %></li>
      <li class="events"><%= link_to "Events", admin_events_path %></li>
      <li class="pages"><%= link_to "Pages", admin_pages_path %></li>
    </ul>
  </div>




  <div class='container'>
    <div class="content clearfix">
      <%= yield %>
    </div>
  </div>

</body>
</html>
