<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Learning Revolution</title>
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8">
	    <script language="javascript" src="/javascripts/jquery.min.js" type="text/javascript"></script>
	    <script language="javascript" src="/javascripts/jquery.cycle.js" type="text/javascript"></script>
	    <script language="javascript" src="/javascripts/application.js" type="text/javascript"></script>
</head>

<body>
  <div class="header">
    <h1><img src="/images/learning_revolution_logo.jpg" /></h1>
    <div class="nav_banner">
      <ul class="nav">
        <li><%= link_to "About" %></li>
        <li><%= link_to "Events" %></li>
        <li><%= link_to "Spaces" %></li>
        <li><%= link_to "Stories" %></li>
        <li><%= link_to "Resources" %></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
