<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Learning Revolution</title>
	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
	<!--[if lt IE 7]>
  <link href="/stylesheets/portal_ie6.css?1250082712" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if lt IE 7]>
  <style type="text/css">.png { behavior: url("/stylesheets/iepngfix.htc") }</style>
  <link href="/stylesheets/ie6.css?1250082712" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if gt IE 6]>
  <link href="/stylesheets/ie7.css?1250082712" media="screen
  " rel="stylesheet" type="text/css" /><![endif]-->

	    <script language="javascript" src="/javascripts/jquery.min.js" type="text/javascript"></script>
	    <script language="javascript" src="/javascripts/jquery.cycle.js" type="text/javascript"></script>
	    <script language="javascript" src="/javascripts/lowpro.jquery.js" type="text/javascript"></script>
	    <script language="javascript" src="/javascripts/application.js" type="text/javascript"></script>
</head>

<body>
    <div class="header">
      
      <h1><img src="/images/fol_logo.png" alt="Learning Revolution Logo" /></h1>
      
      <div id="direct_gov_link">
        <a class="logo-directgov" href="http://www.direct.gov.uk" rel="external" target="_blank" title="Link to Directgov homepage"><img alt="Directgov logo" height="39" src="/images/dius/st-logo-directgov.png" width="140" /></a>
      </div>
    
    </div>
    
    <div class="nav_banner">
      <ul class="nav">
        <li class="home"><%= link_to "Home", root_path %></li>
        <li class="events"><%= link_to "Events", events_path(2009, "October") %></li>
        <li class="stories"><%= link_to "Stories" %></li>
        <li class="about"><%= link_to "About" %></li>
        <li class="resources"><%= link_to "Resources" %></li>
      </ul>
    </div>
    

  <div class="container">
    <%= yield %>
  </div>
</body>

</html>
