<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">



<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title><%= h @page_title %></title>
   
   <meta name="description" content="Teach yourself a lesson: find something new to do in October" />
   <meta name="keywords" content="Learning revolution, festival of learning, informal adult learning, things to do in october" />
   <meta name="language" content="english" />  

	<link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/stylesheets/events.css" type="text/css" media="screen" charset="utf-8" />
	
	<link rel="stylesheet" href="/stylesheets/front_page.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/stylesheets/unitip.css" type="text/css" media="screen" charset="utf-8" />

	<!--[if lt IE 7]>
  <link href="/stylesheets/portal_ie6.css?1250082712" media="screen" rel="stylesheet" type="text/css" />
  <![endif]-->
  <!--[if lt IE 7]>
  <style type="text/css">.png, .tooltip_arrow { behavior: url("/stylesheets/iepngfix.htc") }</style>
  <link href="/stylesheets/ie6.css?1250082712" media="screen" rel="stylesheet" type="text/css" />
  <script src="/javascripts/unitpngfix.js" type="text/javascript"></script>
  <![endif]-->
  <!--[if gt IE 6]>
  <link href="/stylesheets/ie7.css?1250082712" media="screen
  " rel="stylesheet" type="text/css" /><![endif]-->
	<link rel="stylesheet" href="/stylesheets/jquery/jquery-ui-1.7.2.custom.css" type="text/css" media="screen" charset="utf-8" />
   
   <link rel="alternate" type="application/atom+xml" title="News Feed" href="http://thelearningrevolution.ning.com/profiles/blog/feed?xn_auth=no" />

  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.cycle.core.js" type="text/javascript"></script>
  <script src="/javascripts/jquery.cycle.transitions.js" type="text/javascript"></script>
  <script src="/javascripts/lowpro.jquery.js" type="text/javascript"></script>
  <script src="/javascripts/jquery-ui-1.7.2.custom.min.js" type="text/javascript"></script>
  <script src="/javascripts/application.js" type="text/javascript"></script>

  <%# Add unitip for link stylings %>
    <script src="/javascripts/unitip.js" type="text/javascript"></script>


  <%= yield :head %>
</head>

<body class="<%= "c_#{params[:controller].gsub('/','_')} " "m_#{params[:action].gsub('/','_')}" %>" id="<%= "#{params[:controller].gsub('/','_')}_#{params[:action].gsub('/','_')}" %>">
    <div class="header">
      
      <h1><a href="/"><img src="/images/fol_logo.png" alt="Learning Revolution Logo" /></a></h1>
      
      <div id="direct_gov_link">
        <a class="logo-directgov" href="http://www.direct.gov.uk" rel="external" title="Link to Directgov homepage"><img alt="Directgov logo" src="/images/dius/st-logo-directgov.png"  /></a>
      </div>
    
    </div>
    
    <div class="nav_banner">
      <ul class="nav">
        <li class="home"><%= link_to "Home", root_path %></li>
        <li class="events"><%= link_to "Events", current_events_path %></li>
        <li class="news"><%= link_to "News", "/news" %></li>
        <li class="about"><%= link_to "About", "/about" %></li>
        <li class="promote_your_event"><%= link_to "Promote Your Event", "/promote-your-event" %></li>
      </ul>
    </div>
    
    <div class="container clearfix">

      <%# adding dropshadows %>
      <div class="content">
          <%= yield %>        
      </div>
    </div>

<%= render :partial => 'layouts/footer' %>  

<p style="color: #fff; font-weight: bold;">IMPORTANT: underneath me is the Speedtrap tag. It needs to be uncommented when we go live. But not before.</p>
<!--<script type="text/javascript" src="/public/javascripts/ProphetInsert.js"></script>
<noscript><img src='http://directgov.stcllctrs.com/OWCPZPDTRUV/noScript.bmp' alt="Stats Collection Image" /></noscript> -->
</body>
</html>
